

<!-- Modal toggle -->

  
  

  <div id="default-modal" tabindex="-1" aria-hidden="false" class="fixed overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-[9999]   justify-center items-center w-full md:inset-0  h-screen max-h-full flex bg-gray-500 bg-opacity-65">
      
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-end p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                
                <button type="button" (click)="closemodal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal" onclick="closeModal()">
                    <i class="fa-solid fa-xmark text-lg"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 row">
                <div class="p-2 w-1/2 flex flex-wrap justify-center items-center">

                    <h1 class="text-lg font-bold w-full my-0 text-center text-green-400">
                        {{detailedbrand.name}}
                    </h1>
                    <p class="text-center text-gray-500">{{detailedbrand.slug}}</p>
                </div>
                <div class="p-2 w-1/2 ">
                    <img [src]="detailedbrand.image" class="w-full object-cover" alt="">
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="default-modal" type="button" class="btn-main" (click)="closemodal()">close</button>
  
            </div>
        </div>
    </div>
</div>

