<footer class="bg-gray-200 row py-10">
    <div class="w-10/12 mx-auto space-y-3 px-0">
        <h2 class="text-2xl m-0"> Get the FreshCart app</h2>
        <p class="text-gray-500 text-sm">
            We Will Send You a Link Open it on Your Phone to Download the app
        </p>
        <div class="flex text-nowrap items-center gap-3 "> 
            <input type="text" placeholder="Email" class="w-full rounded-lg border-gray-300">
            <button class=" rounded-md bg-green-600 text-white py-2 px-6">
                 Share App Link
            </button>

        </div>

        <hr/>
        <div class="flex justify-between">
            <div class="flex space-x-3 flex-wrap md:flex-nowrap ">
              <p>Payment partner</p>
              <img src="./assets/images/amazon-pay.png" alt="" class="w-[50px] object-scale-down md:object-contain pt-2"  >
              <img src="./assets/images/American-Express-Color.png" alt="" class="w-[50px] object-scale-down md:object-contain" >
              <img src="./assets/images/mastercard.webp" alt="" class="w-[50px] object-scale-down md:object-contain" >
              <img src="./assets/images/paypal.png" alt="" class="w-[50px] object-scale-down md:object-contain" >
            </div>
            <div class="flex flex-wrap md:flex-nowrap space-x-3">
                <p>Get deliveries with FreshCart </p>
                <img src="./assets/images/get-apple-store.png" alt="" class="w-[75px] object-scale-down md:object-contain">
                <img src="./assets/images/get-google-play.png" alt="" class="w-[75px] object-scale-down md:object-contain">
            </div>
        </div>
        <hr/>

    </div>
</footer>
