<div class="w-2/4 mx-auto py-6 ">
    <p class="text-2xl"> newPassword form:</p>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
        @if (errResponse) {
            <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                <p class="text-center"> {{errResponse}} </p>
          </div>
        }
        
        <div class="my-4">
            <label for="emailInput" class="mb-1">email:</label>
            <input id="emailInput" type="text" name="email" class="rounded-lg placeholder: p-2 w-full border border-gray-400 focus:border-blue-400 " formControlName="email">
        </div>
        @if (newPasswordForm.get("email")?.errors && newPasswordForm.get("email")?.touched) {
            @if (newPasswordForm.get("email")?.getError("required")) {
                <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                    <p class="text-center"> email is required </p>
              </div>
            }
            @else {
                <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                    <p class="text-center"> enter a valid email </p>
              </div>
            }
            
        }
        <div class="my-4">
            <label for="newPasswordInput" class="mb-1">newPassword:</label>
            <input id="newPasswordInput" type="text" name="newPassword" class="rounded-lg  placeholder:text-gray-200 p-2 w-full border border-gray-400 focus:border-blue-400 " formControlName="newPassword">
        </div>
        @if (newPasswordForm.get("newPassword")?.errors && newPasswordForm.get("newPassword")?.touched) {
            @if (newPasswordForm.get("newPassword")?.getError("required")) {
                <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                    <p class="text-center"> newPassword is required </p>
              </div>
            }
            @else {
                <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                    <p class="text-center"> enter a valid newPassword </p>
              </div>
            }
            
        }
        <div class="flex items-center">
            
            <button class=" btn-main block ms-auto " [disabled]="!newPasswordForm.valid">
                @if (load) {
                    <span class="fa fa-spinner fa-spin"></span>
                }
                <span class="ms-1">submit</span></button>

        </div>
        

    </form>
    

</div>
