
@if(Flag){
    <div class="w-2/4 mx-auto py-6 ">
        <p class="text-2xl"> forgetPassword form:</p>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            @if (errResponse) {
                <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                    <p class="text-center"> {{errResponse}} </p>
              </div>
            }
            
            <div class="my-4">
                <label for="emailInput" class="mb-1">email:</label>
                <input id="emailInput" type="text" name="email" class="rounded-lg placeholder: p-2 w-full border border-gray-400 focus:border-blue-400 " formControlName="email">
            </div>
            @if (forgetPasswordForm.get("email")?.errors && forgetPasswordForm.get("email")?.touched) {
                @if (forgetPasswordForm.get("email")?.getError("required")) {
                    <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                        <p class="text-center"> email is required </p>
                  </div>
                }
                @else {
                    <div class="my-4 bg-red-300 rounded-lg py-2 w-full  "> 
                        <p class="text-center"> enter a valid email </p>
                  </div>
                }
                
            }
            
            
                
                <button class=" btn-main block ms-auto " [disabled]="!forgetPasswordForm.valid">
                    @if (load) {
                        <span class="fa fa-spinner fa-spin"></span>
                    }
                    <span class="ms-1">send code</span></button>
    
           
            
    
        </form>
        
    
    </div>
}
@if(!Flag){
    <app-reset-code></app-reset-code>
}


